@page "/svg"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Animace SVG</PageTitle>
<div class="my-2">
    <button class="btn btn-primary" @onclick="PridatObrazec">Přidat obrazec</button>
    <button class="btn btn-warning" @onclick="OdebratObrazec">Odebrat poslední obrazec</button>

    <button class="btn btn-primary" @onclick="AnimaceSpustit">Spustit animaci</button>
    <button class="btn btn-primary" @onclick="AnimaceZastavit">Zastavit animaci</button>
    <input type="range" class="form-range" @bind-value=AnimaceKrok min="0" max="10">
</div>
<div>
    <button class="btn btn-primary" @onclick="UlozitNastaveni">Uložit</button>
    <button class="btn btn-primary" @onclick="NacistNastaveni">Načíst</button>
    <button class="btn btn-primary" @onclick="SmazatNastaveni">Smazat LocalStrage</button>
</div>
<svg width="@SvgWidth" height="@SvgHeight" xmlns="http://www.w3.org/2000/svg" style="border: black solid">
    <defs>
        <filter id="f2" width="120" height="120">
            <feOffset in="SourceGraphic" dx="20" dy="20" />
            <feGaussianBlur stdDeviation="10" />
            <feBlend in="SourceGraphic" in2="blurOut" />
        </filter>
    </defs>

    @foreach (var item in SvgObrazceList)
    {
        switch (item)
        {
            case Models.Obdelnik obdelnik:
                <rect width="@obdelnik.StranaA" height="@obdelnik.StranaB" x="@obdelnik.PozX" y="@obdelnik.PozY"
                      style="fill:rgb(@obdelnik.Barva.R, @obdelnik.Barva.G, @obdelnik.Barva.B);stroke:black;stroke-width:2" 
                      filter="url(#f2)" />
                break;
            case Models.Ctverec ctverec:
                <rect width="@ctverec.StranaA" height="@ctverec.StranaA" x="@ctverec.PozX" y="@ctverec.PozY"
                      style="fill:rgb(@ctverec.Barva.R, @ctverec.Barva.G, @ctverec.Barva.B);stroke:black;stroke-width:2"
                      filter="url(#f2)" />
                break;
            case Models.Kruh kruh:
                <circle r="@kruh.Polomer" cx="@kruh.PozX" cy="@kruh.PozY"
                        fill="rgb(@kruh.Barva.R, @kruh.Barva.G, @kruh.Barva.B)" stroke="black" stroke-width="2" 
                        filter="url(#f2)" />
                break;
        }
    }
   
</svg>

@code {

}
